body {
    margin: 0;
    background-color: #1C1C1C; 
    font-size: 16px;
}

.container {
    width: 550px;
    height: 550px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 115px 52px;
    background-color:#1F2937;
    color:#10B981;
    font-family: Inter;
}

span {
    color: white;
    display: block; 
}

h1 {
    font-family: Karla, sans-serif;
    font-weight: 800;
    size: 40px;
    line-height: 40px;
}

p {
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: white;
}

button {
    display: block;
    background-color:  #10B981;
    color: white;
    border: none;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
}

button:hover {
    background-color: #1C1C1C;
    color: #10B981;
}

button:active {
    background-color: #1C1C1C;
    color: #10B981;
}

.line {
    border: 1px solid #2F3E53; 
    width: 446px;
    margin: 35px 0;
    
}

.password-content {
    display: flex;
    justify-content: start;
}

.password {
    background-color: #273549;
    color: #55F991;
    text-align: left;
    border-radius: 6px;
    font-size: 16px;
    width: 211px;
    text-align: center;
}

#password1 {
    margin-right: 24px;
}